*.swp
*.pyc
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
*~
.DS_Store
build
*.Linux
*.Darwin

.spack-env

# Warpx
diags
Backtrace*
*.dpkl

# temporarily ignore the following files
*.arrow
*.png
*.pdf

**/overleaf/
/_manuscript/
*_files/

*.html

data/
*.cdf

_docs/
_proc/

/.quarto/
/_site/

.pixi

################################################################################
#                          DrWatson Project Structure                          #
################################################################################

# Folders to ignore - files may be too large, too many, etc. NOTE: EDIT IF NEEDED.
/data
/videos
/plots
/notebooks
/_research